h1{
  text-align: center;
  font-size: 50px;
  color: rgba(69, 69, 225, 0.662);
}
h2{
  text-align: center;
}
ul{
  text-align: center;
  list-style-position: inside;
  font-size: 28px;
}
p{
  text-align: center;
  font-size: 30px;
}
.turtle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
  background-color: aqua;
}